
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*Yukarıdaki alan, layoutun yüklü olduğu alan anlamına gelir*@

@*4. ADIMı ALAN SONUCU OLUŞAN ALAN*@

<h2>Index</h2>

@*6.ADIM :tablo hazırlarız. *@ 

<table class="table table-bordered"> @*Kenarlıklı tablo yapısı*@
    <tr>
        <th>ID</th>
        <th>KATEGORİ ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>

</table>