
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*9.ADIM Ekdir*@

<h2>Yeni Kategori Ekleme</h2>


<br />
<form method="post">
    <label>Kategori Adını Giriniz...</label>
    <input type="text" class="form-control" name="ad" placeholder="kategori adı" />

    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

